section(class="overflow-hidden")
    div(class="flex items-center justify-between px-8 py-5 bg-white")
        div(class="w-auto")
            div(class="flex flex-wrap items-center")
                div(class="w-auto mr-14")
                    a(href="/")
                        img(class="logo", src="/gradia-assets/logos/99hired-black.png", alt="", width="120", height="auto")

    div(class="hidden navbar-menu fixed top-0 left-0 bottom-0 w-4/6 sm:max-w-xs z-50")
        div(class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-80")