doctype html 
html(lang="en")
    //HEADER
    head
        title 99hired
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        //- link(rel="preconnect", href="https://fonts.gstatic.com")
        //- link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Outfit:wght@500;600;700&display=swap")
        //- link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap")
        link(rel="icon", type="image/png", sizes="32x32", href="/gradia-assets/logos/99hired_icon.png")
        link(rel="stylesheet", href="/css/tailwind/tailwind.min.css")
        link(rel="stylesheet", href="/css/style.css")

        //- <!-- Google tag (gtag.js) -->
        script(async src="https://www.googletagmanager.com/gtag/js?id=G-6LGF0DE221")
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-6LGF0DE221');

        //- script(src="/js/main.js")

    //BODY
    body(class="antialiased bg-body text-body font-body")
        div(class="")
            section(class="background-animate overflow-hidden bg-gradient-cyan")
                section


                    //HEADER
                    div(class="flex items-center justify-between px-8 py-5")
                        div(class="w-auto")
                            div(class="flex flex-wrap items-center")
                                div(class="w-auto mr-14")
                                    a(href="/")
                                        img(class="logo", src="/gradia-assets/logos/99hired-white.png", alt="", width="120", height="auto")
                        div(class="w-auto")
                            div(class="flex flex-wrap items-center")
                                div(class="w-auto hidden lg:block")       
                                |                 
                                div(class="w-auto lg:hidden")
                                    a(href="#")       
                                    |   


                    div(class="hidden navbar-menu fixed top-0 left-0 bottom-0 w-4/6 sm:max-w-xs z-50")
                        div(class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-80")
                div(class="relative container mx-auto px-4")
                    img(class="hidden xl:block absolute bottom-64 left-56 transform -translate-y-4", src="/gradia-assets/elements/hero/line2.svg", alt="")
                    img(class="hidden xl:block absolute bottom-64 right-56 transform -translate-y-28", src="/gradia-assets/elements/hero/line3.svg", alt="")
                    div(class="relative z-10 flex flex-wrap justify-center items-center -m-6 lg:pt-32 pb-36")
                        div(class="w-full lg:w-auto p-6 self-start")       
                        |             
                        div(class="flex-1 p-6")
                            div(class="lg:max-w-2xl mx-auto")
                                div(class="mb-6 font-heading flex items-center max-w-max mx-auto px-5 py-2.5 uppercase font-semibold text-xs tracking-px text-white bg-white bg-opacity-20 rounded-lg")
                                    svg(class="mr-2", width="14", height="14", viewbox="0 0 14 14", fill="none", xmlns="http://www.w3.org/2000/svg")
                                        path(d="M6.33427 2.74895C6.54382 2.10403 7.45621 2.10403 7.66575 2.74895L8.41445 5.0532C8.50816 5.34162 8.77693 5.53689 9.08019 5.53689H11.503C12.1811 5.53689 12.4631 6.40462 11.9145 6.8032L9.95436 8.22731C9.70902 8.40556 9.60636 8.72152 9.70007 9.00994L10.4488 11.3142C10.6583 11.9591 9.92018 12.4954 9.37158 12.0968L7.41146 10.6727C7.16612 10.4945 6.8339 10.4945 6.58856 10.6727L4.62844 12.0968C4.07985 12.4954 3.34171 11.9591 3.55126 11.3142L4.29995 9.00994C4.39367 8.72152 4.29101 8.40556 4.04566 8.22731L2.08555 6.8032C1.53695 6.40462 1.81889 5.53689 2.497 5.53689H4.91984C5.22309 5.53689 5.49186 5.34162 5.58558 5.0532L6.33427 2.74895Z", fill="white")
                                    p(class="text-center") 1st BACKEND JOB BOARD IN MIDDLE EAST
                                h1(class="mb-6 font-heading text-center text-white text-7xl md:text-9xl xl:text-12xl font-bold")
                                    | BACKEND JOBS     
                                    br(class="lg:hidden")
                                    | IN MIDDLE EAST
                                p(class="mb-10 font-medium text-xl text-center text-white") Join the Tech Revolution: Explore the Best Backend Jobs in the Middle East
                                a(href="/jobform") 
                                    button(class="group mb-9 relative flex items-center justify-center font-heading px-24 py-5 mx-auto w-full lg:w-auto uppercase text-white text-xs font-semibold tracking-px bg-gray-900 overflow-hidden rounded-md")
                                        div(class="absolute transform -translate-x-full group-hover:-translate-x-0 h-full w-full transition ease-in-out duration-500 bg-gradient-cyan")
                                        p(class="relative z-10") POST JOB NOW
                                        svg(class="relative z-10", width="19", height="18", viewbox="0 0 19 18", fill="none", xmlns="http://www.w3.org/2000/svg")
                                            path(fill-rule="evenodd", clip-rule="evenodd", d="M9.49999 16.2C13.4764 16.2 16.7 12.9764 16.7 8.99999C16.7 5.02354 13.4764 1.79999 9.49999 1.79999C5.52354 1.79999 2.29999 5.02354 2.29999 8.99999C2.29999 12.9764 5.52354 16.2 9.49999 16.2ZM12.8364 8.36359L10.1364 5.66359C9.78491 5.31212 9.21506 5.31212 8.86359 5.66359C8.51212 6.01506 8.51212 6.58491 8.86359 6.93638L10.0272 8.09999L6.79999 8.09999C6.30293 8.09999 5.89999 8.50293 5.89999 8.99999C5.89999 9.49704 6.30293 9.89999 6.79999 9.89999H10.0272L8.86359 11.0636C8.51212 11.4151 8.51212 11.9849 8.86359 12.3364C9.21506 12.6879 9.78491 12.6879 10.1364 12.3364L12.8364 9.63638C13.1879 9.28491 13.1879 8.71506 12.8364 8.36359Z", fill="white")
            div(class="container mx-auto")       
            |       
            |       
            |       
            |
            |       
            section
                form(class='filter-jobs-form', action='/api/v1/jobs')
                    div(class="pt-24")
                        div(class="container px-4 mx-auto")
                            div(class="flex flex-wrap justify-center py-5 border border-black border-opacity-10", contenteditable="false")
                                div(class="w-full sm:w-1/5 lg:w-1/5 py-2 sm:px-3")
                                    div(class="group font-heading font-medium text-gray-900 hover:text-gray-800 text-base overflow-hidden text-center")
                                        select(style="cursor: pointer", id="tech-select1", class="w-full px-6 py-4 placeholder-gray-500 text-base text-gray-500 bg-white outline-none rounded-lg text-center", name='tech')
                                            option(value="", selected="selected") All Backend Tech
                                            option(value="javascript") JavaScript
                                            option(value="python") Python
                                            option(value="ruby") Ruby
                                            option(value="java") Java
                                            option(value="c#") C#
                                            option(value="go") Go
                                            option(value="php") PHP
                                            option(value="-") Other
                                        div(class="w-full transform -translate-x-0 group-hover:translate-x-full h-0.5 bg-gradient-cyan transition ease-in-out duration-500")
                                div(class="w-full sm:w-1/5 lg:w-1/5 py-2 sm:px-3")
                                    div(class="group font-heading font-medium text-gray-900 hover:text-gray-800 text-base overflow-hidden text-center")
                                        select(style="cursor: pointer", id="tech-select2", class="w-full px-6 py-4 placeholder-gray-500 text-base text-gray-500 bg-white outline-none rounded-lg text-center", name='level')
                                            option(value="", selected="selected") All Levels
                                            option(value="intern") Intern
                                            option(value="junior") Junior
                                            option(value="mid-senior") Mid-Senior
                                            option(value="senior") Senior
                                            option(value="architect") Architect
                                            option(value="lead") Lead
                                        div(class="w-full transform -translate-x-0 group-hover:translate-x-full h-0.5 bg-gradient-cyan transition ease-in-out duration-500")
                                div(class="w-full sm:w-1/5 lg:w-1/5 py-2 sm:px-3")
                                    div(class="group font-heading font-medium text-gray-900 hover:text-gray-800 text-base overflow-hidden text-center")
                                        select(style="cursor: pointer", id="tech-select3", class="w-full px-6 py-4 placeholder-gray-500 text-base text-gray-500 bg-white outline-none rounded-lg text-center", name='workplace_type')
                                            option(value="", selected="selected") All Workplace Types
                                            option(value="remote") Remote
                                            option(value="office") Office
                                            option(value="hybrid") Hybrid
                                        div(class="w-full transform -translate-x-0 group-hover:translate-x-full h-0.5 bg-gradient-cyan transition ease-in-out duration-500")
                                div(class="w-full sm:w-1/5 lg:w-1/5 py-2 sm:px-3")
                                    div(class="group font-heading font-medium text-gray-900 hover:text-gray-800 text-base overflow-hidden text-center")
                                        select(style="cursor: pointer", id="tech-select4", class="w-full px-6 py-4 placeholder-gray-500 text-base text-gray-500 bg-white outline-none rounded-lg text-center", name ='location')
                                            option(value="", selected="selected") All Countries
                                            option(value="🇩🇿 Algeria") Algeria
                                            option(value="🇧🇭 Bahrain") Bahrain
                                            option(value="🇰🇲 Comoros") Comoros
                                            option(value="🇩🇯 Djibouti") Djibouti
                                            option(value="🇪🇬 Egypt") Egypt
                                            option(value="🇮🇶 Iraq") Iraq
                                            option(value="🇯🇴 Jordan") Jordan
                                            option(value="🇰🇼 Kuwait") Kuwait
                                            option(value="🇱🇧 Lebanon") Lebanon
                                            option(value="🇱🇾 Libya") Libya
                                            option(value="🇲🇷 Mauritania") Mauritania
                                            option(value="🇲🇦 Morocco") Morocco
                                            option(value="🇴🇲 Oman") Oman
                                            option(value="🇵🇸 Palestine") Palestine
                                            option(value="🇶🇦 Qatar") Qatar
                                            option(value="🇸🇦 Saudi Arabia") Saudi Arabia
                                            option(value="🇸🇴 Somalia") Somalia
                                            option(value="🇸🇩 Sudan") Sudan
                                            option(value="🇸🇾 Syria") Syria
                                            option(value="🇹🇳 Tunisia") Tunisia
                                            option(value="🇦🇪 Emirates") Emirates
                                            option(value="🇾🇪 Yemen") Yemen
                                            | 
                                        div(class="w-full transform -translate-x-0 group-hover:translate-x-full h-0.5 bg-gradient-cyan transition ease-in-out duration-500")
                                div(class="w-full sm:w-1/5 lg:w-1/5 py-2 lg:flex lg:justify-end sm:px-2")
                                    div(class="group font-heading font-medium text-gray-900 hover:text-gray-800 text-base overflow-hidden text-center")
                                        button(class="mt-1 group relative font-heading font-semibold w-full md:w-auto py-5 px-8 text-xs text-white bg-gray-900 hover:bg-gray-800 uppercase overflow-hidden rounded-md tracking-px")
                                            div(class="absolute top-0 left-0 transform -translate-y-full group-hover:-translate-y-0 h-full w-full transition ease-in-out duration-500 bg-gradient-cyan")
                                            p(class="relative z-10") FILTER NOW


            include jobsContent




            <section class="relative pt-24 pb-32 overflow-hidden">
                <div class="container mx-auto px-4">
                    <h2 class="mb-5 max-w-2xl mx-auto font-heading font-bold text-center text-6xl sm:text-7xl text-gray-900">Developer Insights</h2>
                    <p class="mb-16 text-base max-w-md mx-auto text-center text-gray-600">Read the feedback from our skilled backend developers</p>
                    <div class="flex flex-wrap -m-5">
                    <div class="w-full md:w-1/3 p-5">
                        <div class="h-full p-0.5 bg-gradient-cyan transform hover:-translate-y-3 rounded-10 transition ease-out duration-1000">
                        <div class="h-full px-7 py-8 bg-white rounded-lg">
                            <img class="mb-8" src="/testimonials/osama.png" alt="">
                            <p class="mb-8 text-lg text-gray-900" contenteditable="false">“Impressed by 99hired's user-friendly platform and diverse backend engineering opportunities—streamlining job searches for an efficient, seamless experience.”</p>
                            <h3 class="mb-1.5 font-heading font-bold text-lg text-gray-900">Osama Shehab</h3>
                            <p class="text-sm text-gray-600">Backend Engineer</p>
                        </div>
                        </div>
                    </div>
                    <div class="w-full md:w-1/3 p-5">
                        <div class="h-full p-0.5 bg-gradient-cyan transform hover:-translate-y-3 rounded-10 shadow-5xl transition ease-out duration-1000">
                        <div class="h-full px-7 py-8 bg-white rounded-lg">
                            <img class="mb-8" src="/testimonials/mohamed.png" alt="">
                            <p class="mb-8 text-lg text-gray-900">“99hired is a simple, responsive and awesome platform for posting backend jobs. The filter process is very accurate and its results are incredible.”</p>
                            <h3 class="mb-1.5 font-heading font-bold text-lg text-gray-900">Mohamed Elbaz</h3>
                            <p class="text-sm text-gray-600">.Net Engineer</p>
                        </div>
                        </div>
                    </div>
                    <div class="w-full md:w-1/3 p-5">
                        <div class="h-full p-0.5 bg-gradient-cyan transform hover:-translate-y-3 rounded-10 transition ease-out duration-1000">
                        <div class="h-full px-7 py-8 bg-white rounded-lg">
                            <img class="mb-8" src="/testimonials/mansour.png" alt="">
                            <p class="mb-8 text-lg text-gray-900">“It's great to find such a unique website in the Middle East, Things are already happening, it seems that we will overcome the oddness in finding work”</p>
                            <h3 class="mb-1.5 font-heading font-bold text-lg text-gray-900">Mohamed Mansour</h3>
                            <p class="text-sm text-gray-600">.Net Engineer</p>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            
            </section>

            section(class="bg-gray-50 overflow-hidden")
                div(class="container mx-auto px-4")
                    div(class="max-w-xl mx-auto")             
                    |             
                    |             
                    |           
            section(class="relative pt-24 pb-28 bg-black overflow-hidden")
                form(id="newsletter") 
                    div(class="relative z-10 container mx-auto px-4")
                        h2(class="mb-12 max-w-lg mx-auto font-heading font-bold text-center text-6xl sm:text-7xl text-white") Join our newsletter? Get Upated with jobs
                        div(class="mb-9 md:max-w-lg mx-auto")
                            div(class="p-1 flex flex-col md:flex-row bg-white focus-within:ring-4 focus-within:ring-indigo-500 overflow-hidden rounded-md")
                                input(name='email', class="block flex-1 px-5 py-4 md:py-0 text-base text-gray-500 bg-transparent outline-none placeholder-gray-500 rounded-tl-xl rounded-bl-xl", type="email", placeholder="Enter email to get started", required)
                                button(id="subscribeBtn", class="group relative font-heading font-semibold w-full md:w-auto py-5 px-8 text-xs text-white bg-gray-900 uppercase overflow-hidden rounded-md tracking-px")
                                    div(class="absolute top-0 left-0 transform -translate-y-full group-hover:-translate-y-0 h-full w-full transition ease-in-out duration-500 bg-gradient-cyan")
                                    p(class="relative z-10") Connect now
                        p(class="text-gray-500 text-sm text-center")
                            span Or, learn more
                            |             
                            a(class="text-white hover:text-gray-200", href="#") about 99hired
                    img(class="absolute bottom-0 left-1/2 transform -translate-x-1/2", src="/gradia-assets/elements/cta/radial3.png", alt="")


        // FOOTER
        include _footer 
        script(src="/js/index.js") 
